/obj
/bin
/.vs
/*.user
/appsettings.Development.json
/FluffySpoonAspNetLetsEncryptCertificate_Account
/FluffySpoonAspNetLetsEncryptCertificate_Site
/FluffySpoonAspNetLetsEncryptChallenge_Challenges
/vars_user.json
